.wrapper {
  position: relative;
  overflow: hidden;
  width: 20em;
  height: 10em;
}

.bg {
  background-color: red;
  width: 100%;
  height: 100%;
}

.slice {
  position: absolute;
  top: -12em;
  left: -8em;
  width: 30em;
  height: 30em;
  background-color: blue;
  -webkit-transform: rotate(-60deg);
}